# Compilados Java
*.class

# Diretórios de build/compilação
/out/
/build/
/bin/

# Arquivos temporários de IDEs
*.log
*.tmp
*.swp

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
